autom4te.cache/
build-aux/

ABOUT-NLS
Makefile.in
aclocal.m4
configure
libtool
ltmain.sh
m4/*.m4
src/.deps/
src/.dirstamp
src/Makefile.in
src/books
src/books-resources.c
stamp-h1

config.*
Makefile

po/*
!po/LINGUAS
!po/*.po
